DB_USER=myuser
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432
DB_NAME=db

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

JWT_SECRET=secret
KU_API=<KU_API_BASE_URL>
STATUS=development

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=tutorium
MINIO_USE_SSL=false