DB_USER=myuser
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432
DB_NAME=db
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
JWT_SECRET=secret
KU_API=https://kuappstore.ku.ac.th/nisitku/nisit/Controller.php
STATUS=development
